body{
	font-family: futura;
	font-size: 20px;
	text-transform: uppercase;
	background: white;
	margin: 0;
	text-align: center;
}

a{
	color: grey;
	text-decoration: none;
}

.logo{
	display: inline-block;
	max-width: 80%;
	width: 400px;
	height: 40px;
	text-indent: -999999999px;
	background-image: url('images/logo.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 20px auto;
}

#showsearchbar,
#showmenu{
	display: none;
}

.menu{
	padding: 0;
	margin-bottom: -200px;	
	opacity: 0;
	@include transition(0.3s);
	
	@media (min-width:600px){
		margin: 20px 0 -200px 0;
	}
}

.menu li{
	list-style: none;
	padding: 10px;
}

.searchbar{
	margin-bottom: -30px;
	opacity: 0;
	@include transition(0.1s);
}

.menuicon{
	display: block;
	position: fixed;
	top: 10px;
	left: 10px;
	font-size: 24px;
	cursor: pointer;
	
	@media (min-width:600px){
		font-size: 35px;
	}
}

.searchbaricon{
	display: block;
	position: fixed;
	top: 10px;
	right: 10px;
	text-indent: -999999px;
	background-image: url('images/searchicon.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 5px;
	cursor: pointer;
	width: 25px;
	height: 45px;
	
	@media (min-width:600px){
		width: 40px;
		height: 60px;
	}
}

#showmenu:checked + .menu-wrapper .menu{
	display: block;
	margin-bottom: 40px;
	opacity: 1.0;
	@include transition(0.3s);
}


#showsearchbar:checked + .searchbar-wrapper .searchbar{
	display: block;
	margin-bottom: 30px;
	opacity: 1.0;
	@include transition(0.1s);
}

.main{
	background: beige;
	height: 800px;
	@include transition(0.3s);
}