body{
	font-family: futura;
	font-size: 20px;
	text-transform: uppercase;
	background: white;
	margin: 0 10%;
	text-align: center;
}

a{
	color: grey;
	text-decoration: none;
}

.logo{
	display: inline-block;
	max-width: 80%;
	width: 400px;
	height: 40px;
	text-indent: -999999999px;
	background-image: url('images/logo.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 20px auto;
}

#showsearchbar,
#showmenu{
	display: none;
}

.menu{
	padding: 0;
	margin: 20px 0 0 0;	
	display: none;
}

.menu li{
	list-style: none;
	display: block;
	padding: 10px;
}

#showmenu:checked + .menu-wrapper .menu{
	display: block;
}

.searchbar{
	display: none;
}

#showsearchbar:checked + .searchbar-wrapper .searchbar{
	display: block;
}

.menuicon{
	display: block;
	position: fixed;
	top: 10px;
	left: 10px;
	font-size: 35px;
	cursor: pointer;
}

.searchbaricon{
	display: block;
	position: fixed;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 60px;
	text-indent: -999999px;
	background-image: url('images/searchicon.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 5px;
	cursor: pointer;
}